body{
  background:black;transition:1s ease;-moz-transition:1s ease;-webkit-transition:1s ease;
  color: #cfcfd3;
  font-family: 'Inconsolata', monospace;
}
body.powered{background:#202021;}

.sectionTitle{
  text-align: center;
  margin-top:5%;
  letter-spacing: .10em;


}

#gameContainer{
  position: fixed;
  width:100%;
  height: 800px;
  top: 50%;
  left: 50%;
  margin-top: -24%;
  margin-left: -53%;
  display:none;
}

#output{
  background-color:black;
  color:white;
  width:200px;
  height:200px;
}

#newsTicker{
  color: orange;
  position:fixed;
  width:30%;
  height:45%;
  margin-left: 4%;
  margin-top:1%;
  visibility:hidden;
}

#terminal{
  color: green;
  position:fixed;
  width: 30%;
  height: 45%;
  margin-top: 26%;
  margin-left: 4%;
}

#commandHeader{
  position: fixed;
  width:10%;
}

#commandLine{
  position: fixed;
  margin-left: 11%;
  background-color: transparent;
  color: green!important;
  line-height: 1em;
  font-size:16px;
  font-family: 'Inconsolata', monospace;
  border:none;
  width:100%;
}

#output1{
  margin-top:15%;
}

#commanderName{
  float:right;
}

#commandDelimiter{
  margin-left:100%;
}

.blinking{
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{     color: green;    }
    45%{    color: transparent; }
    50%{    color: transparent; }
    55%{    color:transparent;  }
    100%{   color: green;    }
}

.commandOutput{
  width:90%;
  height:7%;
  margin-left:13%;
}

.module{
  height:25%;
  width:19%;
  position:fixed;
  color:white;
  padding:1%;
}

#systemUpgrades{
  margin-left:35%;
  margin-top:1%;
}
.upgradeTitle{
  display:inline-block;

}
.upgradeCost{
text-align: right;
display:inline-block;
float:right;
}
.upgradeContainer{
  margin-top:5%;
  width:80%;
  margin-left:10%;
  margin-right:10%;
}
.upgradeContainer.insufficient{
color:red;transition:.5s ease;-moz-transition:.5s ease;-webkit-transition:.5s ease;
}
.upgradeContainer.sufficient{
color:green;transition:.5s ease;-moz-transition:.5s ease;-webkit-transition:.5s ease;
}
.upgradeContainer:hover{
  cursor:pointer;
}
#networkUpgrade{
  visibility:hidden;
}
#cpuUpgrade{
  visibility:hidden;
}
#memoryUpgrade{
  visibility:hidden;
}
#coreUpgrade{
  visibility:hidden;
}

#taskAutomations{
  margin-left:35%;
  margin-top:18%;
  visibility:hidden;
}

.automationTitle{
  display:inline-block;
  width:60%;

}
.automationStatus{
text-align: right;
display:inline-block;
float:right;
width:20%;
}
.automationTime{
text-align: right;
display:inline-block;
float:right;
width:20%;
}
.automationContainer{
  margin-top:5%;
  width:80%;
  margin-left:10%;
  margin-right:10%;
}

#connections{
  margin-left:35%;
  margin-top:35%;
  visibility:hidden;
}

#assets{
  margin-left:56%;
  visibility:hidden;
  margin-top:1%;
}

#researchDevelopment{
  margin-left:56%;
  margin-top:18%;
  visibility:hidden;
}

#realmStatus{
  margin-left:56%;
  margin-top:35%;
  visibility:hidden;
}

#resources{
  margin-left:77%;
  margin-top:1%;
}
.resourceTitle{
  display:inline-block;

}
.resource{
text-align: right;
display:inline-block;
float:right;
}
.resourceContainer{
  margin-top:5%;
  width:100%;
}
#coresContainer{
  display:none;
}

#resourceAllocation{
  position:fixed;
  margin-left:77%;
  margin-top:18%;
  visibility:hidden;
}

#allocateNetwork{
  visibility: hidden;
}

.allocationTitle{
  display:inline-block;
  width:60%;

}
.allocationMinus{
display:inline-block;
width:20%;
float:left;
cursor:pointer;
}
.allocationPlus{
text-align: right;
display:inline-block;
float:right;
width:20%;
cursor:pointer;
}
.allocationContainer{
  margin-top:5%;
  width:80%;
  margin-left:10%;
  margin-right:10%;
}

#systemStatus{
  color: white;
  position:fixed;
  margin-left:77%;
  margin-top:35%;
  text-align: center;
}

.statusElement{
  height:80px;
  width:40%;
  display: inline-block;
}
.statusTitle{
  margin-top:20%;
}
.statusPercent{
  margin-top:5%;
  font-size:24px;
}
.statusCol{
  display:inline-block;
}

#network{
  visibility:hidden;
}

.key{
  border:solid;
  border-width: thin;
  border-radius:4px;
  padding-left:7px;
  padding-right:7px;
  padding-bottom:2px;
  padding-top:2px;
}

#pipeline{
  text-align: center;
  color:grey;
  display:none;
  width:1600px;
  white-space: nowrap; /* Keeps the content on a single line */
}

#pipeline li{
  text-align:center;
  list-style-type: none;
  float:left;
  margin-left:7%;
}

#powerOn{
  font-size: 24px;
  text-align: center;
  line-height: 100%;
}

#intro{
  display:none;
  margin-top:10%;
}
#prompt{
  display:none;
  margin-top:5%;
}
#nameInput{
  display:none;
  margin-top:5%;
  text-align: center;
}

#name{
  width: 700px;
  border: none;
  background-color: transparent;
  color: white;
  height: 100px;
  font-size: 64px;
  letter-spacing: .15em;
  font-family:  'Inconsolata', monospace;
  text-align: center;
}

#wb.cycleFinished{
color:green;transition:.5s ease;-moz-transition:.5s ease;-webkit-transition:.5s ease;
}

#wb.cycleBlocked{
color:red;transition:.5s ease;-moz-transition:.5s ease;-webkit-transition:.5s ease;
}

.btn{
  padding: 5px 5px 5px 5px;
  border-radius:4px;
  border:solid;
  cursor:pointer;
}

.center {
    height: 90vh;
    position: relative;
}

.center .btn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.typewriter-fade h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 7s steps(80, end),
    fade-away 10s linear;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
 -moz-animation-fill-mode: forwards;    /* FF 5+ */
 -o-animation-fill-mode: forwards;      /* Not implemented yet */
 -ms-animation-fill-mode: forwards;     /* IE 10+ */
 animation-fill-mode: forwards;         /* When the spec is finished */
 text-align:center;
}

.typewriter-half h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 7s steps(80, end),
    fade-away-half 10s linear;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
 -moz-animation-fill-mode: forwards;    /* FF 5+ */
 -o-animation-fill-mode: forwards;      /* Not implemented yet */
 -ms-animation-fill-mode: forwards;     /* IE 10+ */
 animation-fill-mode: forwards;         /* When the spec is finished */
 text-align:center;
}

.typewriter-no-fade h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 7s steps(80, end),
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
     -moz-animation-fill-mode: forwards;    /* FF 5+ */
     -o-animation-fill-mode: forwards;      /* Not implemented yet */
     -ms-animation-fill-mode: forwards;     /* IE 10+ */
     animation-fill-mode: forwards;         /* When the spec is finished */
 text-align:center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* The typing effect */
@keyframes typing {
  from { width: 00px }
  to { width: 100% }
}

@keyframes fade-away {
  0% { opacity: 1; }
  100% { opacity: 0; display:none;}
}

@keyframes fade-away-half {
  0% { opacity: 1; }
  100% { opacity: 0.5; display:none;}
}



@keyframes blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
  100% { opacity: 0; }
}
